{% extends 'base.html' %}



{% block title %}
    Interface Directeur
{% endblock title %}



{% block content %}

<!-- EN HAUT du template -->
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}


<h2>Fond disponible: {{ fond }}</h2>
<a href="{% url 'auth_app:register' %}">Ajouter un employée</a>
<a href="{% url 'directeur_app:ajouter-fond' %}">Ajouter des fonds</a>
<a href="{% url 'directeur_app:rapport-depense-employee' %}">Rapport des dépenses </a>

<a href="{% url 'client_app:liste-client' %}">Liste des clients</a>

<a href="{% url 'chantier_app:liste-chantier' %}">Voir tout les chantier</a>



<a href="{% url 'auth_app:logout' %}">Deconnexion</a>
<div class='list_demande'>
    <hr>
    <hr>
    <h1>Interface Directeur</h1>
<h1>List et status de demande en cours</h1>

{% for demande in list_demande %}
    <h3>{{ demande.nom  }}</h3>
    <h4><em>{{ demande.montant }}</em></h4>
    <h4>{{ demande.chantier}}</h4>
    <p>{{ demande.motif }}</p>
    
   
 {% if demande.status == 'approuvee_directeur' or demande.status == 'approuvee_comptable' %}
   <h3 style='color:green;'>{{ demande.status }}</h3>
   {% elif demande.status == 'decaisse' %}
    <h3 style='color:skyblue;'>{{ demande.status }}</h3>

   {% elif demande.status == 'refusee_directeur' or demande.status == 'refusee_comptable' %}
    <h3 style='color:red;'>{{ demande.status }}</h3>
    {% else %}
    <h3 style='color:orange;'>{{ demande.status }}</h3>

      <a href="{% url 'comptable_app:comptable-approuver-demande' demande.id %}" style='color: green;'>Approuver</a>
         <a href="{% url 'comptable_app:comptable-refuser-demande' demande.id %}"style='color: red;'>Refusé</a>
   {% endif %}
    
        
    
    <hr>
    <hr>
{% endfor %}
    
</div>
{% endblock content %}
    