nav{
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

header{
    display: flex;
    background:linear-gradient(144deg,rgba(255, 0, 0, 1) 2%, rgba(222, 211, 211, 1) 50%, rgba(13, 12, 13, 1) 100%);
    height: 27vh;
    width: 100%;
    position: relative;
    border: 1px solid black;
    box-shadow: 7px 5px 14px 6px rgb(42 18 18 / 71%);
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    align-content: center;
    position: fixed;
    z-index: 1000;
    margin-top: 1.5rem;
}



header .statistique{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
     width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

header .statistique .card{
    margin-left: 1rem;
}

main{
   background:linear-gradient(144deg,rgba(255, 0, 0, 1) 2%, rgba(222, 211, 211, 1) 50%, rgba(13, 12, 13, 1) 100%);
   min-height: 70vh;
   min-width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding: 0.8rem;
   padding-top: 15rem;
}

main .en_tete{
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

main .en_tete .btn-new_chantier, .btn-efface{
    backdrop-filter: blur(0.5rem);
    background:linear-gradient(144deg,rgba(255, 0, 0, 1) 2%, rgba(222, 211, 211, 1) 50%, rgba(13, 12, 13, 1) 100%);
    box-shadow: 0 4px 8px rgba(14, 13, 13, 0.779);
    color: rgb(0, 0, 0);
    transition: all 0.5s ease;
}

main .en_tete .btn-new_chantier:hover, .btn-efface:hover{
    background: linear-gradient(270deg,rgba(71, 56, 59, 1) 19%, rgba(181, 152, 166, 1) 33%, rgb(183, 89, 103) 51%, rgba(189, 155, 158, 1) 69%, rgba(41, 30, 30, 1) 87%);
    color: white;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.779);
}

main .filter_container{
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .filter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 2rem;
}


main .select, input, .textarea{
    backdrop-filter: blur(0.5rem);
    background:rgba(255, 255, 255, 0) ;
}

select option{
    backdrop-filter: blur(0.5rem);
    background:rgba(255, 255, 255, 0) ;
}

footer{
    background: rgb(33, 33, 33);
    color: beige;
}

.table_container{
        width: 100%;
    overflow-x: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    box-shadow: 0px 1px 17px 4px;
}

table .badge{
    width: max-content;
}

@media(max-width:360px){

    main .en_tete{
    display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
}
    }

