.dash_container{
         background: linear-gradient(-45deg, 
            rgba(201, 26, 26, 1) 0%, 
            rgba(235, 230, 231, 1) 50%, 
            rgba(0, 0, 0, 1) 99%);
            
    background-size: 400% 400%;
    animation:  gradient-shift 25s ease infinite;
        }

.body{
      background: linear-gradient(-45deg, 
            rgba(201, 26, 26, 1) 0%, 
            rgba(235, 230, 231, 1) 50%, 
            rgba(0, 0, 0, 1) 99%);
            
    background-size: 400% 400%;
    animation:  gradient-shift 25s ease infinite;
}

.card,.card-body{
background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(1.8rem);
}

.card{
    box-shadow: 3px 6px 20px 0px;
}


/* ===== ANIMATION DU GRADIENT ===== */
    @keyframes gradient-shift {
        0% {
            background-position: 0% 50%;
        }
        25% {
            background-position: 50% 100%;
        }
        50% {
            background-position: 100% 50%;
        }
        75% {
            background-position: 50% 0%;
        }
        100% {
            background-position: 0% 50%;
        }
    }