
{% load static %}
 {% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth_css/login_style.css' %}">
     {% tailwind_css %}
    <title>{% block title %} {% endblock title %}</title>
</head>
    
<body>

<nav class="bg-green-500 text-center text-white p-4">SANBA FINFLOW GESTION </nav>

{% block content %}
    
{% endblock content %}
    

</body>
</html>