{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>  {% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <script src="{% static 'js/htmx.min.js' %}"></script>
    {% tailwind_css %}
</head>
    <body>
        <header>
            <h1>Bienvenue, A SANBA GESTION FINFLOW</h1>
        </header>
        {% block content %}
            
        {% endblock content %}
         
    </body>

</html>