
<dialog id="my_modal_1" class="modal">
  <div class="modal-box">
      <h3>Login</h3>
      <form action="{% url 'auth_app:login' %}"
            method="post">

        {% csrf_token %}
        <div class="mb-4">
          {{form.username.label_tag}} 
          {{form.username}}
        </div>

        <div class="mb-4">
          {{form.password.label_tag}} 
          {{form.password}}
        </div>

          <input type="submit" value="Connexion" class="btn btn-primary"/>

      </form>

      <div class="modal-action">
          <button onclick="my_modal_1.close()" class="btn">Close</button>
      </div>
      
    </div>
</dialog>


