nav{
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

header{
    display: flex;
    background:linear-gradient(144deg,rgba(255, 0, 0, 1) 2%, rgba(222, 211, 211, 1) 50%, rgba(13, 12, 13, 1) 100%);
    height: 20vh;
    width: 100%;
    position: relative;
    border: 1px solid black;
    box-shadow: 7px 5px 14px 6px rgb(42 18 18 / 71%);
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    align-content: center;
    position: fixed;
    z-index: 1000;
    margin-top: 1.5rem;
}

main{
    background:linear-gradient(144deg,rgba(255, 0, 0, 1) 2%, rgba(222, 211, 211, 1) 50%, rgba(13, 12, 13, 1) 100%);
    min-height: 70vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 15rem;
}

main .card-body {
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: calc(0.25rem * 2);
    padding: var(--card-p, 1.5rem);
    font-size: var(--card-fs, 0.875rem);
    box-shadow: 0px -1px 20px 9px;
    border-radius: 1rem;
    margin: 2rem;
}

.badge{
    background:linear-gradient(144deg,rgba(255, 0, 0, 1) 2%, rgba(222, 211, 211, 1) 50%, rgba(13, 12, 13, 1) 100%);
    color: white;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.779);
}


main .input, .select, .textarea{
    backdrop-filter: blur(0.5rem);
    background:rgba(255, 255, 255, 0) ;
}

main .btn-creer_chantier, .btn-suivant, .btn-precedent{
    background:linear-gradient(144deg,rgba(255, 0, 0, 1) 2%, rgba(222, 211, 211, 1) 50%, rgba(13, 12, 13, 1) 100%);
    color: white;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.779);
    margin-top: 2rem;
}

main .btn-creer_chantier:hover, .btn-suivant:hover,.btn-precedent:hover{
    background: linear-gradient(270deg,rgba(71, 56, 59, 1) 19%, rgba(181, 152, 166, 1) 33%, rgb(183, 89, 103) 51%, rgba(189, 155, 158, 1) 69%, rgba(41, 30, 30, 1) 87%);
    color: white;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.779);
}

select option{
    backdrop-filter: blur(0.5rem);
    background:rgba(255, 255, 255, 0) ;
}



@media(max-width:420px){

header{
        box-shadow: -2px 10px 6px 1px;
    }

main .card-body {
    width: 80%;
    box-shadow: -2px 10px 6px 1px;
}
.label-text{
    font-size: 0.9rem;
}




.card-body .progress_info{
    display: none;
}

.badge{
    background: linear-gradient(144deg, rgba(255, 0, 0, 1) 2%, rgba(222, 211, 211, 1) 50%, rgba(13, 12, 13, 1) 100%);
    color: white;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.779);
    width: 70%;
    font-size: 1rem;
}

.btn{
    padding: 0%;
}
.btn-creer_chantier{
    width: 5rem;
}
.text-sm{
    font-size: 0.5rem;
}

}

footer{
    background: rgb(33, 33, 33);
     color: beige;
}