{% extends 'base.html' %}


{% block title %}
    Soumettre un Rapport
{% endblock title %}
    

{% block content %}


<!-- EN HAUT du template -->
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}

<div style="border: 1px, solid, black;">
<a href="{% url 'employee_app:employee-du-mois' %}">🏆</a>
</div>

    
<a href="{% url 'client_app:ajouter-client' %}"> ➕Ajouter un client</a>
<a href="{% url 'auth_app:changer-identifiants' %}" class="btn">🔐 Changer identifiants</a>
{% if user.is_authenticated %}
    <h3>Bonjour Mr {{ user.username }} Veillez saisir votre rapport</h3>
{% endif %}

<div>
    <h3>Formulaire</h3>
<form method='post' action="{% url 'employee_app:employee-view' %}">
     {% csrf_token %}
     {{form.as_p}}
     <input type="submit" value="Soumettre">
</form>
</div>


<a href="{% url 'employee_app:mes-rapports' %}">Mes Rapports</a>
    

{% endblock content %}
    